extends ../Layout/master.jade
block contenido
    form(action="/users",method="POST")
        div
            label(for="email") Email &nbsp;
            input(type="text", name="email", placeholder="Email", id="email")
        div
            label(for="password") Password &nbsp;
            input(type="password", name="password", placeholder="Password", id="password")
        div
            input(type="submit" value="Login")